<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <span class="navbar-text">
            <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['login']">Salir<span class="sr-only">(current)</span></a>
        </li>
        </ul>

        </span>
    </div>
</nav>
<!--SELECCIONADOR-->
<div class="controler">
    <div class="form-group row">
        <div ALIGN="center">
            <label for="inputState">Seleccionar un curso</label>
        </div>
        <select class="form-control" [(ngModel)]="codeSeled" (selectionChange)="rankin_code(codeSeled)">
                <option *ngFor="let code of cursos " [value]="code.code">{{code.name}}</option>
            </select>
    </div>
    <br>
    <input type="text" name="cod" [(ngModel)]="codeSeled" (click)="rankin_code($event.target.value)">
    <hr>
    <div ALIGN="center">
        <h1><u>Estadistica de Cursos</u> </h1>
    </div>
    <!--GRAFICO LINEA
    (change)="onChange($event.target.value)"-->
    <h2 class="center">Grafico</h2>
    <div class="row">

        <div class="col-md-6">
            <div style="display: block;">
                <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
        <div class="col-md-6" style="margin-bottom: 10px">
            <table class="table table-responsive table-condensed">
                <tr>
                    <th *ngFor="let label of lineChartLabels">{{label}}</th>
                </tr>
                <tr *ngFor="let d of lineChartData">
                    <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                </tr>
            </table>
        </div>

    </div>

</div>