<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Salir</a>
            </li>
        </ul>

    </div>
</nav>
<div class="controler">
    <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <div style="display: block;">
                <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
        <div class="col-md-6" style="margin-bottom: 10px">
            <table class="table table-responsive table-condensed">
                <tr>
                    <th *ngFor="let label of lineChartLabels">{{label}}</th>
                </tr>
                <tr *ngFor="let d of lineChartData">
                    <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                </tr>
            </table>
            <button (click)="randomize()">CLICK</button>
        </div>
    </div>





</div>