<div class="container">

    <h2>Ingresa</h2>

    <div class="row">
        <div class="col-6 col-md-3">

        </div>
        <div class="col-6 col-md-6">

            <img src="assets/img/Utem.jpg" class="img-fluid" alt="Responsive image">

            <input type="text" class="form-control" placeholder="Rut">

            <input type="password" class="form-control" placeholder="Ingrese su clave">
            <button type="button" class="btn-success btn-lg btn-block"> Ingresar
            
                </button>

        </div>
        <div class="col-6 col-md-3">

        </div>
    </div>

</div>